nav {
	background-color: $brand-color;
	padding: 1.5em;
	text-align: center;
	top: 0;
	width: 100%;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	height: 2em;
}

nav ul li a {

}





.main {
	/* background-color: red; */
	margin: 0 auto;
	padding: 1.5em;
	top: 0;
	width: 80%;
}