h2 {
	font-family: 'Droid Serif', 'serif';
	font-size: 1.4em;
	font-weight: 400;
	color: #333;
}

p {
	font-family: 'Open Sans', 'sans-serif';
	font-size: 0.9em;
	font-weight: 400;
	color: #999;
	margin-bottom: 1em;
}